eureka:
  instance:
    hostname: localhost
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

spring:
  cloud:
    config:
      # Do not override system properties with config server properties
      override-system-properties: false

management:
  tracing:
    sampling:
      probability: 1.0